.App {
  text-align: center;
  background-color: #303030;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-size: 1.4rem;
}

.H {
  font-weight: bold;
}
.up {
  /* margin-top: 50vh; */
}

img {
  width: 55%;
  margin-top: 5vh;
}

.title {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1vh;
  /* background-color: blue; */
}
.desc {
  margin-top: 1rem;
}
.my_name {
  font-size: 1rem;
}

.introduce {
  width: 80%;
  height: 100vh;
  /* margin-top: 20vh; */
  overflow: auto;
  scroll-snap-type: y mandatory;
}
.tacoWhat {
  /* margin-top: 20vh; */
  /* float: left; */
}

.scrollarea {
  height: 100vh;
  scroll-snap-align: start;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}